html, body {
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.skrollable {
    position: fixed;
    z-index: 100;
}

.skrollable .skrollable {
    position: absolute;
}

body {
    height: 40000px;
    overflow-y: auto;
}

div, h1, h2 {
    overflow: hidden;
}

h1, h2 {
    display: inline;
}

.background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    background: url('../img/lightpaperfibers.png') repeat;
}

#scene-1 {
    background: url('../img/hi-im-melissa-text.png') center center no-repeat;
}

#scene-2 {
    background: url('../img/my-desk-laptop-mousepad.png') center center no-repeat;
}

#desk-tools {
    height: 100%;
    width: 100%;
    background: url('../img/my-desk-stuff.png') center center no-repeat;
}

#desk-text-1 {
    height: 100%;
    width: 100%;
    background: url('../img/and-well-theres-a-mouse.png') center center no-repeat;
}

#desk-text-2 {
    height: 100%;
    width: 100%;
    background: url('../img/er-i-mean.png') center center no-repeat;
}

#desk-mouse {
    height: 100%;
    width: 100%;
    background: url('../img/my-desk-mouse.png') center center no-repeat;
}

#desk-mouse-real {
    height: 100%;
    width: 100%;
    background: url('../img/my-desk-mouse-real.png') center center no-repeat;
}

#jerry-text {
    height: 100%;
    width: 100%;
    background: url('../img/this-is-the-story.png') center center no-repeat;
}

#scene-4 {
}

#convo-shriek {
    height: 1019px;
    width: 100%;
    background: url('../img/shriek.png') center center no-repeat;
}

#convo-ahh {
    height: 1017px;
    width: 100%;
    right: 0px;
    background: url('../img/ahh.png') center center no-repeat;
}

#convo-omg {
    height: 1019px;
    width: 100%;
    background: url('../img/omg.png') center center no-repeat;
}

#convo-text-1 {
    height: 1019px;
    width: 100%;
    background: url('../img/it-was-around-nov.png') center center no-repeat;
}

#scene-5 {
    background: url('../img/something-cool.png') center center no-repeat;
}

#cool-text-1 {
    height: 750px;
    width: 100%;
    background: url('../img/and-one-fateful-day.png') center center no-repeat;
}

#cool-text-2 {
    height: 750px;
    width: 100%;
    background: url('../img/i-froze.png') center center no-repeat;
}

#scene-6 {
}

#scene-7 {
    background: url('../img/thinkingmelissa.png') center center no-repeat;
}

#scene-8 {
    background: #3333AA;
}

#alas-container {
    height: 200%;
    width: 100%;
    background: url('../img/test-mouse.png') repeat;
}